<div style="height: 100%" class="table-container">
  <nz-table nzShowSizeChanger [nzData]="list" [nzFrontPagination]="false" [nzLoading]="loading"
    [nzShowPagination]="true" [nzTotal]="total" [nzPageSize]="10" [nzPageIndex]="pageIndex" [nzScroll]="{y: '0'}"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzColumnKey="name" [nzSortFn]="true">文件名</th>
        <th nzColumnKey="udpateTime">更新时间</th>
        <th nzColumnKey="createTime">创建时间</th>
        <th nzColumnKey="operation"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of list">
        <td>{{ data.name }}</td>
        <td>{{ data.updateTime | date: 'YYYY-MM-dd hh:mm:ss' }}</td>
        <td>{{ data.createTime | date: 'YYYY-MM-dd hh:mm:ss' }}</td>
        <td>
          <button nz-button nzType="link" [routerLink]="['/business/config/edit', data.name]">编辑</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
