<div style="display: flex; height: 100%; flex-direction: column;">
  <div nz-row class="page-header">
    <h1 nz-col nzSpan="8">集群列表</h1>
    <div class="page-operation" nz-col nzSpan="8" nzOffset="8">
    </div>
  </div>

  <div class="page-content">
    <!-- <app-node-table [list]="(cluster.$node | async) || []"></app-node-table> -->
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="10" *ngFor="let cluster of $clusterList | async">
        <app-cluster-card [cluster]="cluster"></app-cluster-card>
      </nz-col>
    </nz-row>
  </div>
</div>
