<div class="container-root">
  <app-cluster-breadcrumb [cluster]="node?.scope" [node]="node"></app-cluster-breadcrumb>

  <!-- <div nz-row>
    <div class="back-button-container" nz-col nzSpan="1">
      <button nzShape="circle" nzSize="large" nz-button nzType="text" (click)="goBack()">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
      </button>
    </div>

    <div class="card-container" nz-col nzSpan="5">
      <div>
        <h3>集群</h3>
        <nz-card [routerLink]="['/business/monitor/cluster-detail', node?.scope]" style="cursor: pointer;">
          {{node?.scope}}
          <br />
          <span style="color: rgba(0,0,0,0.25)"></span>
        </nz-card>
      </div>
    </div>
    <div class="arrow-container" nz-col nzSpan="1">
      <span nz-icon nzType="swap-right" nzTheme="outline"></span>
    </div>
    <div class="card-container" nz-col nzSpan="5">
      <div>
        <h3>NODE</h3>
        <nz-card [routerLink]="['/business/monitor/node-detail', node?.id]" style="cursor: pointer;">
          <app-worker-state-badge *ngIf="node" [state]="node.meta.state"
            [text]="node.name"></app-worker-state-badge>
        </nz-card>
      </div>
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="5">
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="5">
    </div>
  </div> -->
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item
      routerLinkActive
      #detailRla="routerLinkActive"
      [nzSelected]="detailRla.isActive"
    >
      <a [routerLink]="['/business/monitor/node-detail', node?.meta?.id, 'basic']">
        详情
      </a>
    </li>
    <li nz-menu-item [nzDisabled]="true">
      性能
    </li>
    <li nz-menu-item
      routerLinkActive
      #runnerRla="routerLinkActive"
      [nzSelected]="runnerRla.isActive">
      <a [routerLink]="['/business/monitor/node-detail', node?.meta?.id, 'runners']">
        Services & Workers
      </a>
    </li>
    <li nz-menu-item
      routerLinkActive
      #providerRla="routerLinkActive"
      [nzSelected]="providerRla.isActive">
      <a [routerLink]="['/business/monitor/node-detail', node?.meta?.id, 'providers']">
        Providers
      </a>
    </li>
    <li nz-menu-item
      routerLinkActive
      #componentRla="routerLinkActive"
      [nzSelected]="componentRla.isActive">
      <a [routerLink]="['/business/monitor/node-detail', node?.meta?.id, 'components']">
        Components
      </a>
    </li>
  </ul>
  <div class="container-content">
    <router-outlet></router-outlet>
  </div>
</div>
