.container-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  .container-header {
    padding: 10px;
    font-size: 30px;

    display: flex;
    align-items: baseline;

    button {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      span {
        font-size: 20px;
      }
    }
  }
  .container-content {
    flex: 1;
    padding: 20px;
    background-color: #FFF;
    overflow: auto;
  }

  .node-tag-container {
    margin-left: 25px;
  }
}
