<div class="container-root">
  <app-cluster-breadcrumb [cluster]="listener?.node?.scope" [node]="listener?.node" [runner]="listener?.service" [listener]="listener"></app-cluster-breadcrumb>

  <div class="page-content">
    <nz-descriptions nzTitle="基本信息" style="margin-top: 0;">
      <nz-descriptions-item nzTitle="ID">{{listener?.id}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="协议">{{listener?.meta?.protocol}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Endpoint">{{listener?.meta?.endpoint}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="状态">
        <app-listener-state-badge [state]="listener?.meta?.state"></app-listener-state-badge>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="标签">
        {{listener?.meta?.labels | labelStringfiy}}
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</div>
