<div style="padding: 20px;">
  <h2>
    <span nz-icon nzType="partition" nzTheme="outline"></span>
    节点
  </h2>
  <nz-row  [nzGutter]="16">
    <nz-col [nzSpan]="4">
      <nz-card nzHoverable>
        <nz-statistic
          [nzValue]="(cluster.$node | async)!.length"
          nzTitle="节点"
        ></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card nzHoverable>
        <nz-statistic
          [nzValue]="((cluster.$runner | async)?.length | number: '1.0-2')!"
          nzTitle="Service&Worker"
        ></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>
  <h2>
    <span nz-icon nzType="cluster" nzTheme="outline"></span>
    集群
  </h2>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="10" *ngFor="let cluster of $clusterList | async">
      <app-cluster-card [cluster]="cluster"></app-cluster-card>
    </nz-col>
  </nz-row>
</div>
